// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=10f0u0k4Cik20ta3lnh61db9X7C */

// As hex codes */

$color-primary-0: #92837D;	// Main Primary color */
$color-primary-1: #E8DEDA;
$color-primary-2: #B9ACA6;
$color-primary-3: #695B55;
$color-primary-4: #3D2F2A;



// As RGBa codes */

$rgba-primary-0: rgba(146,131,125,1);	// Main Primary color */
$rgba-primary-1: rgba(232,222,218,1);
$rgba-primary-2: rgba(185,172,166,1);
$rgba-primary-3: rgba(105, 91, 85,1);
$rgba-primary-4: rgba( 61, 47, 42,1);
